/* Codice Css per demo Gmail */

body {
  background-image: url(../img/wood.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }

#center {
  width: 1200px;
  margin: 0 auto;
 }

h1 {
  color: white;
  margin-left: 10px;
  display: inline;
 }

.middle {
  vertical-align: middle;
 }

hr {
  border-color: white;
 }

h2 {
  color: white;
 }

#circle {
  display: inline-block;
  background-color: orange;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  margin: auto;
  padding: 5px;
  text-align: center;
 }

/* Fabio: background: orange + padding: 10px + border-radius: 50%
(per far comparire il cerchio, il 50% dell'altezza è il raggio per un cerchio perfetto) */

.row {
  height: 25px;
  background-color: lightgrey;
  border: 1px solid black;
 }

.graytext {
   color: gray;
 }

.graytext::after {
   content: "...";
 }

.graytext::before {
  content: "-"
 }

.row.white {
   background-color: white;
 }

footer h2 {
  color: white;
  text-align: center;
 }

#small {
  font-size: 14px;
 }
